@import "reset.css";

.big_container {
	width: 100vw;
	height: 100vh;
  background-color: #2e7d31;
}

ul {
	display: flex;
	flex-wrap: wrap;
	flex-flow: row nowrap;
	justify-content: space-evenly;
}

a {
  text-decoration: none;
  display: block;
  padding: 4rem 6rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #e0d665;
  font-family: 'Sono', sans-serif;
  font-size: 1.3rem;
}

a:hover {
  color: #fff;
}

.intro {
  overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	background-color: #2e7d31;
	background-size: cover;
	text-align: center;
}

.intro h1 {
	font-family: 'Sono', sans-serif;
	color: #fff;
	font-size: 3rem;
	margin-top: 2rem;
} 

.intro h2 {
	font-family: 'Sono', sans-serif;
	color: #fff;
	font-size: 1.8rem;
	margin-top: 1rem;
}

.profile img{
  flex-direction: column;
	border-radius: 100%;
	box-shadow: 0px 0px 25px #e0d665;
	margin-top: 4rem;
}

.about_me {
  overflow: hidden;
	display: flex;
	width: 100%;
	height: 100vh;
	background-color: #DFD981;
	background-size: cover;
  padding: auto;
}

.about_me img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
	margin: 4rem 0rem 0rem 4rem;
}

.introduction {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
	margin-top: 5rem;
	margin-left: 3rem;
}

.title {
  font-family: 'Sono', sans-serif;
  color: #714737;
  font-size: 3rem;
  margin-top: 1rem;
}

.text {
  font-family: 'Do Hyeon', sans-serif;
	color: #000;
	font-size: 1.3em;
	margin-top: 2rem;
  line-height: 2rem;
}

.info {
  font-family: 'Do Hyeon', sans-serif;
	color: #000;
	font-size: 1.3rem;
	margin-top: 1rem;
  padding: 1rem 3rem 1rem 0.5rem;
  background-color: #a4af69;
  border: 0.1rem solid #714737;
  line-height: 2rem;
}

.like_it {	
	display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5rem;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-color: #2e7d31;
	background-size: cover;
	text-align: center;
  align-items: center;
}

.like_title {
  font-family: 'Sono', sans-serif;
  color: #fff;
  font-size: 3rem;
  margin-top: 3rem;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.dev img {
  border: 0.3rem solid #DFD981;
}

.baseball img {
  border: 0.3rem solid #DFD981;
}

.trip img {
  border: 0.3rem solid #DFD981;
}

.like_it h1 {
  font-family: 'Do Hyeon', sans-serif;
  color: #fff;
  font-size: 2rem;
  margin-top: 5rem;
}

.contact {
	display: flex;
  flex-direction: column;
  flex-wrap: wrap;
	width: 100%;
	height: 100vh;
  justify-content: center;
	background-color: #DFD981;
	background-size: cover;
  text-align: center;
  align-items: center; 
}

.contact_me {
  font-family: 'Sono', sans-serif;
  color: #714737;
  font-size: 4rem;
  margin-top: 3.5rem;
}

.background img {
  margin: 2rem 0rem 2rem 0rem;
  align-items: center;
}

.sns {
  display: flex;
  gap: 5rem;
}

.sns h1 {
  margin: 0.9rem;
  font-size: 1rem;
  font-family: 'Sono', sans-serif;
}